<mat-card id="card">
<form #personForm="ngForm" (ngSubmit)= "save()">
    <mat-card-header>
      <mat-card-title id="title"><h2>{{person.name ? 'Edit' : 'Add'}} Contact</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="id" [(ngModel)]="person.id">
      <mat-form-field id="name">
        Name: <input matInput [(ngModel)]="person.name"
               required name="name" #name>
      </mat-form-field>
      <mat-form-field id="username"> 
         Username:  <input matInput [(ngModel)]="person.username"
          required name="username" #username>
          </mat-form-field>
          <mat-form-field id="email">
              Email: <input matInput [(ngModel)]="person.email"
              required name="email" #email>
          </mat-form-field>
          <mat-form-field id="phone">
              Phone: <input matInput [(ngModel)]="person.phone"
              required name="phone" #phone>
          </mat-form-field>
          <mat-form-field id="website">
              Website: <input matInput [(ngModel)]="person.website"
              required name="website" #website>
          </mat-form-field>
          <input type="hidden" name="address_id" [(ngModel)]="person.address.id">
          <mat-form-field id="suite">
              Suite: <input matInput [(ngModel)]="person.address.suite"
              required name="suite" #suite>
          </mat-form-field>
          <mat-form-field id="street">
              Street: <input matInput [(ngModel)]="person.address.street"
              required name="street" #street>
          </mat-form-field>
          <mat-form-field id="city">
              City: <input matInput [(ngModel)]="person.address.city"
              required name="city" #city>
          </mat-form-field>
          <mat-form-field id="zipcode">
              Zipcode: <input matInput [(ngModel)]="person.address.zipcode"
              required name="zipcode" #zipcode>
          </mat-form-field>
          <input type="hidden" name="geo_id" [(ngModel)]="person.address.geo.id">
          <mat-form-field id="lat">
              Latitude <input matInput [(ngModel)]="person.address.geo.lat"
              required name="lat" #lat>
          </mat-form-field>
          <mat-form-field id="lng">
              Longitude: <input matInput [(ngModel)]="person.address.geo.lng"
              required name="lng" #lng>
          </mat-form-field>
          <input type="hidden" name="company_id" [(ngModel)]="person.company.id">
          <mat-form-field id="companyname">
              Company Name: <input matInput [(ngModel)]="person.company.name"
              required name="companyName" #companyName>
          </mat-form-field>
          <mat-form-field id="catchphrase">
              Company Catchphrase: <input matInput [(ngModel)]="person.company.catchPhrase"
              required name="catchPhrase" #catchPhrase>
          </mat-form-field>
          <mat-form-field id="bs">
              Company BS: <input matInput [(ngModel)]="person.company.bs"
              required name="bs" #bs>
          </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!personForm.form.valid" >Save Contact</button>
      <button mat-raised-button color="primary" (click)="remove()"
              *ngIf="person.id" type="button">Delete Contact</button>
      <a mat-raised-button color="primary" routerLink="/person-list">Go Back</a>
    </mat-card-actions>
  </form>
</mat-card>